<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TestJSF</display-name>

	<!-- 1. page accueil -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 2. Mapping URLS /faces/* vers la servlet JSF Faces Servlet -->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>   <!--Dit où l'on trouve la classe FacesServlet dans les referenced libraries 
			du build path -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>  <!-- Dit que toutes les pages xhtml de faces seront prises en charge par 
			la faces servlet -->
	</servlet-mapping>

	<!-- 3. Exécution JSF en mode 'développement'. logs supplémentaires. -->

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>Client</param-value>
	</context-param>

	<!-- Thème de Prime Faces -->

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>

	<!-- Sécurité -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>XHTML via faces</web-resource-name> <!-- Pour que toutes les pages xhtml de faces soient protégées -->
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gtm</role-name> <!-- Seul le role gtm aura l'accès -->
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Espace sécurisé</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/erreur.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>The role that is required to access the XHTML via faces</description>
		<role-name>gtm</role-name>
	</security-role>
</web-app>